@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}
body {
  background-color: #161717;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  align-self: center;
  gap: 20px;
}
.google-btn {
  background-color: #1a73e8;
  border: none;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}
.google-btn picture {
  width: 35px;
  height: 35px;
  background-color: #161717;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: Center;
}
.google-btn span {
  color: white;
  font-weight: 500;
  padding: 15px;
}
.google-btn:hover {
  opacity: 0.75;
}
.google-btn picture img {
  width: 75%;
}
.twitter-btn {
  color: #ccc;
  background-color: #eee;
  border: none;
  width: 40px;
  border-radius: 3px;
}

.twitter-btn:hover {
  background-color: #ddd;
  color: white;
  cursor: pointer;
}
.separator {
  display: flex;
  width: 100%;
  gap: 15px;
}

.separator hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
}
.separator span {
  color: white;
}
.section-inputs {
  display: flex;
}
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
}
label span {
  font-weight: 700;
}

label input {
  width: 80%;
  background-color: #212121;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-size: 14pt;
  transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

label input:hover {
  background-color: #454045;
  border: solid 1px #f3f3f4;
  box-shadow: 0 0 4px #eb50ff4f;
}

label input:focus {
  background-color: #454045;
  border: solid 1px #f3f3f4;
  box-shadow: 0 0 4px #eb50ff4f;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
}

.checkbox-label input[type="Checkbox"] {
  width: 20px;
}

.checkbox-label span {
  font-weight: 400;
}

.btncuenta {
  background-color: #ea4c89;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
